version: '3'

services:
  shopweb.api:
    image: device-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "81:80"
      - "443:443"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - postgres
  
  db:
    image: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_DB: "devices"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5435:5432"
    networks:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  postgres:
    driver: bridge

volumes:
  db-data: